.residents-page {
    & .residents-title, .residents-desc{
        padding: 10px 0 5px 10px;
    }
  .residents-header {
    margin-bottom: 20px;
  }
  .residents-main {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
}
