.users {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.users_list {
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
}

.users_item {
    border-top: 1px solid rgb(46, 128, 179);
    overflow: hidden;
}

.users_title {
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: 16px 20px;
    background: rgb(58, 137, 185);
    position: relative;
    color: white;
}

.users_title:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: rgb(58, 137, 185);
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}

.users_subItem {
    background: #555;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.users_subItem p{
    font-size: 18px;
    color: white;
    padding: 16px 26px;
    position: relative;
    margin: 4px 0;
}

.users_subItem p:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 100%;
    background: rgb(58, 137, 185);
    top: 0;
    left: 0;
    transition: 0.3s;
    opacity: 0;
}

.users_subItem p:hover:before {
    opacity: 1;
}

.users_item:target .users_subItem {
    max-height: 10em;
}