.signup__header {
  text-align: center;
  margin-bottom: 35px;
}

.signup__form .field {
  height: 45px;
  margin: 25px 0px;
}

.signup__form label {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

.signup__form input {
  font-size: 16px;
  padding: 5px;
  display: block;
  width: 100%;
  line-height: 24px;
}

.signup__form button {
  border: none;
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
  background-color: lightskyblue;
  padding: 10px 10px;
}

.error {
  font-size: 12px;
  color: red;
}

.form-hidden {
  display: none;
}
