.header-container {
  display: flex;
  width: 100%;
  height: 100%;

  & .nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(47, 55, 79);
    height: 100%;
    color: white;

    & .header-logo {
      width: 200px;
      height: 50px;
      font-size: 30px;
      text-align: center;
      padding: 5px;

      & a {
        text-decoration: none;
        color: white;
      }

      & a:visited {
        color: inherit;
      }
    }

    & .list-item {
      list-style: none;

      & a {
        font-size: 18px;
        line-height: 28px;
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        height: 100%;
        width: 100%;
      }

      & a:hover {
        background-color: rgb(60, 71, 104);
      }

      & a:visited {
        color: white;
      }
    }
  }

  .logout-button {
    width: 80px;
    height: 30px;
    margin: auto 20px auto auto;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 11px;
  }
}
