.header-container {
  width: 100%;
  height: 100%;

  & .header-logo {
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    padding: 5px;

    & a {
      text-decoration: none;
    }

    & a:visited {
      color: initial;
    }
  }

  & .nav {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background-color: rgb(47, 55, 79);
    height: 100%;
    color: white;

    & .list-item {
      list-style: none;

      & a {
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        height: 100%;
        width: 100%;
      }

      & a:hover {
        background-color: rgb(60, 71, 104);
      }

      & a:visited {
        color: white;
      }
    }
  }

  .logout-button {
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 11px;
  }
}
